.banner{
    background: url("https://www.mountelizabeth.com.sg/Sitefinity/WebSiteTemplates/ParkwayTemplate/App_Themes/ParkwayTheme/Images/en/background/average-bill-size.png")
     no-repeat center center ;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
 }
 h1{
     font-size: large;
 }
 .formulir{
     margin-top: 10%;
     margin-bottom: 5%;
     padding: 0px 25px ;
     width: 370px;
     height: 770px;
     background-color: rgb(204, 218, 237);
     box-shadow: 0 0 10px lightsteelblue;
     border-radius: 20px;
 }
 .formulir h2{
     text-align: center;
     border-bottom: 4px solid #2979ff;
 }
 .btn-daftar{
    margin-top: 20px;
    text-align: center !important;
 }
 .btn-daftar a{
     color:rgb(0, 0, 0) !important;
     margin-left: 0px !important;
    background: none !important;
    text-decoration: underline !important;
 }
 .btn-daftar a:hover{
     color: red !important;
     transition: all 0.5s ease-in-out !important;
 }
 .formulir form label{
     margin-top: 20px;
 }
 .formulir form input{
     padding: 5px 132px 5px 0px;
     border: none;
     background: none;
     border-bottom: 1px solid #2979ff;
     color:black;
 }
 .formulir form input::placeholder{
     color:slategray;
 }
 .formulir form a{
    margin-top: 20px;
    text-align: center;
    border-radius: 50px;
     margin-left: 100px;
    padding: 10px 30px 10px 30px;
     background-color:rgb(77, 55, 203);
     font-size: 18px;
     color: white;
     text-decoration: none;
     cursor: pointer;
     transition: all 0.5s;
 }
 .formulir form a:hover{
     background-color: black;
     color: white;
 }
 .copyright{
     background:rgb(125, 140, 159);
     text-align: center;
     width: 100%;
 }
 @media screen and (max-width:575px){
     .formulir{
         margin-top: 150px;
         margin-bottom: 100px;
     }
 }
 @media screen and (max-width:767px){
     .formulir{
         margin-top: 150px;
         margin-bottom: 100px;
     }
 }
 @media screen and (max-width:991px){
     .formulir{
         margin-top: 150px;
         margin-bottom: 100px;
     }
 }
